@model List<CharrityAuction.Models.BidModel>
<table id="bids">
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name @item.User.LastName</td>
            <td>@item.Amount</td>
            <td>@item.CreateDate.ToString("hh:mm tt", System.Globalization.CultureInfo.InvariantCulture)</td>
            <td>@item.CreateDate.ToString("dd MM yyyy", System.Globalization.CultureInfo.InvariantCulture)</td>

        </tr>
    }
</table>