@model CharrityAuction.Models.LotModel

@{
    ViewBag.Title = Model.Name;
}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div class="container">
                <div id="myCarousel" class="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        @{
                            int i = 1;
                            foreach (var image in Model.Images)
                            {
                                <li data-target="#myCarousel" data-slide-to="@i"></li>
                                i++;
                            }
                        }
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="@Model.ImageSource" style="width:100%;">
                        </div>
                        @foreach (var item in Model.Images)
                        {
                            <div class="item">
                                <img src="@item.Imagesource" style="width:100%;">
                            </div>
                        }

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <br />
            <p>@Html.Raw(Model.Description)</p>
            <hr />
            <div class="row">
                <div class="col-sm-3">
                    <p class="lot-headings">@Resource.LotOccureDate</p>
                </div>
                <div class="col-sm-9">
                    @*<ul>
                        <li>Occure Date:</li>
                    </ul>*@
                    <p>@Model.OccureDate.ToString("dd MM yyyy hh:mm ",
                                               System.Globalization.CultureInfo.InvariantCulture)</p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p class="lot-headings">@Resource.LotDetails</p>
                </div>
                <div class="col-sm-9">
                    <p>@Html.Raw(Model.Info)</p>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p class="lot-headings">@Resource.LotRulesRegulations</p>
                </div>
                <div class="col-sm-9">
                    <p>@Html.Raw(Model.Policy)</p>
                    <hr />
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <p class="lot-name">@Model.Name</p>
            <br />
            <div class="row">
                <div class="col-sm-12" style="background-color:#f5f5f5; padding:10px 10px;">
                    <p style="font-weight:700;">@CharrityAuction.Resource.DeadLine <br /> <span style="color:#c8c5c5;">@Model.DeadLine.ToString("dd MM yyyy hh:mm ",
                                               System.Globalization.CultureInfo.InvariantCulture)</span></p>
                    @{
                        var span = Model.DeadLine - DateTime.Now;
                    }
                    @if (span.TotalMilliseconds >= 0)
                    {

                    <ul class="countdown">
                        <li>
                            <span class="days">@span.Days</span>
                            <p class="timeRefDays">@CharrityAuction.Resource.Day</p>
                        </li>
                        <li>
                            <span class="hours">@span.Hours</span>
                            <p class="timeRefHours">@CharrityAuction.Resource.Hours</p>
                        </li>
                        <li>
                            <span class="minutes">@span.Minutes</span>
                            <p class="timeRefMinutes">@CharrityAuction.Resource.Minutes</p>
                        </li>

                    </ul>
                    }
                    else
                    {
                        <p style="color:red;">@Resource.LotDayPassed</p>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7 lot-price">
                    <p style="font-weight:700;">@CharrityAuction.Resource.CurrentBid</p>
                    <p>@Model.CurrentBid @CharrityAuction.Resource.AMD</p>
                </div>
                <div class="col-sm-5 lot-price">
                    <p style="font-weight:700;">@CharrityAuction.Resource.EstimatedValue</p>
                    <p>@Model.EstimatedValue @CharrityAuction.Resource.AMD</p>
                </div>

            </div>
            <div class="row">
                <p style="font-weight:700;">@CharrityAuction.Resource.LastBids</p>
                <hr />
                @Html.Action("_LotLastBidPartial", "Bid", Model.Id)
                <hr />
            </div>
            <div class="row">

                <input type="number" min="@(Model.CurrentBid+Model.Step)" id="txtBid" value="@(Model.CurrentBid+Model.Step)" class="lot-input form-control" />
               @if (Model.DeadLine > DateTime.Now)
               {
                   if (Request.IsAuthenticated)
                   {
                    <input type="button" value="@CharrityAuction.Resource.Bid" onclick="makeBid()" class="btn btn-danger btn-lot-bid" />
                   }
                   else
                   {
                    <input type="button" value="@CharrityAuction.Resource.Bid" onclick="bidRegistration()" class="btn btn-danger btn-lot-bid" />
                   }
               }
               else
               {
                <input type="button" value="@CharrityAuction.Resource.Bid" onclick="deadlinePassed()" class="btn btn-danger btn-lot-bid" />
               }
            </div>
            @*<div class="row">
                <input type="button" value="WATCHLIST" class="btn btn-info btn-lot-bid" style="background-color:#041F56;" />
            </div>*@
        </div>
    </div>
</div>
<div class="container h-100 createModule" id="bidLogin">
    <span class="close close-login" style="float:right">x</span>
    <div class="row h-100 justify-content-center align-items-center" style="padding:10px;">
        @Html.Action("_LoginPartialBid", "Account", "/home/lot/" + Model.Id)
    </div>
</div>
<div id="cover">

</div>
<script>
    //Countdown plugin

   
    function bidRegistration() {
        $("#bidLogin").css("display", "block");
        $("#cover").css("display", "block");

    }
    function makeBid() {
        var amount = parseInt($('#txtBid').val());
        var min = parseInt($(this).attr('min'));
        if (amount < min)
        {
            alert("@Resource.MinBidAlert")
        }
        $.ajax({
            type: "POST",
            url: "/Bid/CreateBid/",
            data: { Amount: amount, LotId: @Model.Id },
            success: function (data) {
                alert(data);
                location.reload();
            },
            error: function (data) {
                console.log(data);
            }
        });
    }
    function deadlinePassed() {
        alert('@Resource.LotDayPassed')
    }



</script>
<style>
    .countdown {
        list-style: none;
    }

        .countdown li {
            width: 24.4333%;
            display: inline-block;
            text-align: center;
        }

            .countdown li span {
                font-size: 42px;
                font-weight: bold;
            }
</style>